#bookEvents .item {
    margin-bottom: 1rem;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1rem;
}

#bookEvents .item .eventTitle {
    font-size: 20px;
    font-weight: bold;
    display: block;
}